<div class="card shadow" style="width:20%;">
    <img class="card-img-top" src="<%= imageUrl %>" alt="Card image" style="width:100%; height: 100%;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"><%= name %> - <%= price %></p>
      <div class="btn-card">
        <a href="/categories/<%= CategoryId %>/<%= id %>" class="btn btn-sm btn-primary">See Detail</a>
        <a class="btn btn-sm btn-danger" href="/cart/add/<%= id %>">Add to Cart</a>
      </div>
    </div>
</div>
    